body {
  background-color: #B8C4BB;
  font-family: "Quicksand";
}

#weekdays {
  border-radius: 20px;
  padding: 10px;
  background-color: #C9D6EA;
  border-color: #C9D6EA;
  color: #000000;
  font-family: "Quicksand";
  position: relative;
}

#buttontext {
  text-align: center;
}

#filler {
  border: solid black 3px;
  margin: 4px;
  padding: 10px 10px 10px 10px;
}

title {
  color: black;
  font-size: 40px;
  font-family: "Quicksand";
}
