#imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pic1 {
  width: 300px;
  order: 1;
  object-fit: cover;
  padding: 15px;
}

#pic2 {
  width: 500px;
  order: 2;
  object-fit: cover;
  padding: 15px;
}

#pic3 {
  width: 600px;
  order: 3;
  object-fit: cover;
  padding: 15px;
}

#pic4 {
  width: 300px;
  order: 4;
  object-fit: cover;
  padding: 15px;
}

#pic5 {
  width: 300px;
  order: 4;
  object-fit: cover;
  padding: 15px;
}

#pic6 {
  width: 300px;
  order: 4;
  object-fit: cover;
  padding: 15px;
}

#pic7 {
  width: 300px;
  order: 4;
  object-fit: cover;
  padding: 15px;
}

#pic8 {
  width: 300px;
  order: 4;
  object-fit: cover;
  padding: 15px;
}

#pic9 {
  width: 300px;
  order: 4;
  object-fit: cover;
  padding: 15px;
}

#pic10 {
  width: 300px;
  order: 4;
  object-fit: cover;
  padding: 15px;
}
body {
  background-color: #56667A;
  font-family: "Quicksand";
}

.tabcontent {
  color: #E1E1E1;
  font-size: 20px;
}
