html , body {
  background-color: #d7dedc;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239a879d' fill-opacity='0.31' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: "Quicksand";
}
/* http://www.heropatterns.com/ */

.weekdays {
  font-weight: 700;
  border: 2px solid;
  padding: 8px;
  background-color: white;
  border-radius: 15px;
  border-color: #C9D6EA;
  border-width: thick;
  margin-top: 20px;
  margin-left: 20px;
}

#borderLeft {
  position: absolute;
  display: block;
}

.content {
  border: white solid 5px;
  padding-top: 100px;
  padding-left: 40px;
}

.start {

}
