/*this is a comment - also ctrl /*/

body{
  font-family: cursive;
  background-color: #C4A29E;
  color: #002A32;
  margin: 40px;
  margin-left: 40px;
}

h1{
  font-size: 40px;
  padding: 7px 7px 7px 7px;
  font-weight: 900;
  border: solid 1px white;
  border-radius: 20px;
  /* border is just border; border-radius rounded corners */
}

h2{
  font-size: 20px;
  padding: 7px 7px 7px 7px;
  border: solid 1px white;
  border-radius: 20px;
  /* border is just border; border-radius rounded corners */
}

h3{
  font-size: 20px;
  padding: 7px 7px 7px 7px;
  border: solid 1px white;
  border-radius: 20px;
}

a{
  font-size: 20px;

}

ul {
  /* color: red; */
  font-size: 15px;
  border: solid 1px white;
  border-radius: 20px;
}

p {
  /* color: red; */
  font-size: 15;
  margin: 50px;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border: solid 1px white;
  border-radius: 20px;
}

img {
  width: 20vw;
  border: solid 3px #002A32;
  border-radius: 20px;
}
